DATABASE_URL=postgres://postgres:password@localhost:5432/fittrack
PORT=3000

# Set this to require for hosted Postgres providers that require SSL.
PGSSLMODE=disable
GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID
